<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @task.new_record? %>
        <div resource-locker="tasks" resource-id="<%= @task.id %>">locker</div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_area :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, type: :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
